service cloud.firestore {
  match /databases/{database}/documents {
    allow read, write: if false;


    function isCurrentUser(user) {
        return request.auth.uid != null && request.auth.uid == user;
    }

    match /events {
      allow read;
      allow write: if false;
      match /{event} {
        allow read;
        allow write: if false;
      }
    }



    match /rsvps {
      allow read: if true;
      allow write: if false;
      match /{user} {
        allow read: if true;
        allow write: if isCurrentUser(user);
      }
    }

    match /sources {
      allow read: if true;
      allow write: if false;
      match /{source} {
        allow read;
        allow write: if false;
      }
    }

    match /cities {
      allow read: if true;
      allow write: if false;
      match /{source} {
        allow read;
        allow write: if false;
      }
    }

    match /users/{user} {
        allow read, write: if isCurrentUser(user);
        match /starred/{eventId} {
          allow read, write: if isCurrentUser(user);
        }
    }

    match /user_preferences/{user} {
      allow read: if isCurrentUser(user);
      allow write: if isCurrentUser(user);
    }

    match /public_profiles/{user} {
      allow read: if true;
      allow write: if isCurrentUser(user);
    }
  }
}
