<div class="event-list">
  <div class="filters-panel">
    <label style="margin: 0 13px">
      <button mat-icon-button (click)="toggleStarredOnly()">
        <i class="fa-star star-checkbox" [class.fas]="isStarredOnlyChecked" [class.far]="!isStarredOnlyChecked"></i>
      </button>
      Starred Only
    </label>
    <span style="margin-left: 5px;">
      <mat-form-field>
        <mat-select [value]="city" (valueChange)="cityChanged()" placeholder="City">
          <mat-option *ngFor="let c of (cities$ | async)" [value]="c">
            {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>
  <mat-expansion-panel   *ngFor="let event of events">
    <mat-expansion-panel-header>
      <div style="float: left; margin-left: -12px;">
        <button mat-icon-button (click)="starEvent(event)">
          <i class="fa-star star-checkbox" [class.fas]="event.isStarred" [class.far]="!event.isStarred"></i>
        </button>
      </div>
      <div class="row" style="width: calc(100% - 30px); margin-left: 5px;">
        <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">{{event.dateText}}</div>
        <div class="col-xs-7 col-sm-7 col-md-5 col-lg-4">{{event.title}}  </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">@ {{(event.location&&event.location.name) || 'TBA'}}</div>
        <div class="hidden-xs hidden-md hidden-sm col-lg-4 summarize">{{event.description}}</div>
      </div>

    </mat-expansion-panel-header>
    <p>{{event.description}}</p>
  </mat-expansion-panel>
  <!--<table class="event-list">-->
    <!--<tr>-->
      <!--<th>Title</th>-->
      <!--<th>Date</th>-->
      <!--<th>Location</th>-->
      <!--<th style="max-width: 50%">Description</th>-->
    <!--</tr>-->
    <!--<tr  *ngFor="let event of events">-->
      <!--<td style="width: 20%">{{event.title}}</td>-->
      <!--<td style="width: 10%">{{event.dateText}}</td>-->
      <!--<td style="width: 10%">{{event.location&&event.location.name}}</td>-->
      <!--<td class="summarize"  style="max-width: 300px">{{event.description}}</td>-->
    <!--</tr>-->
  <!--</table>-->
</div>
